table tr:hover {
    background-color: #EBECCD;
}

table tr {
    background-color: #dcddc0;
}

table td {
    background:#dcddc0 url('/static/cell-grey.jpg'); // remove this line
    padding: 3px;
}

table {
	width : 150px;
	float:center;
}

table tbody{
	overflow-y: scroll;
	height : 150px;

}

#gameObjectWindow{
	display: inline-block;
	width : 200px;
	border-style: solid;
}

#inspectorWindow{
	display: inline-block;
	height: 200px;
	overflow-y: scroll;
	width : 200px;
	border-style: solid;
}